*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home-container{
    width: 100%;
    margin: auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 15px;
}
.row{
    display: flex;
    margin-top: 30px;
}
.col{
    width:33.3%;
}
.nav .link{
    text-decoration: none;
    color: rgb(249, 249, 251);
    padding: 10px ;
    margin-top:5px;
    background-color:dimgray;
}
.card{
    display:flex ;
    justify-content: space-between;
    padding-top: 10PX;
}
.col h2{
    color: gold;
}
.col p{
    color:darkgray;
}
.price p{
    color:lightseagreen;
}
.stock p{
    color:firebrick;
}
.nav .btn{
    color: aliceblue;
}
.home-cont{
    width: 90%;
    margin: auto;
}